body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #000000;
}
header {
  color: white;
  padding: 10px;
}
.menu{
  padding: 10px;
  background-color: #FB5922;
}
nav {
  text-align: center;
  justify-content: space-between;
}
.logo {
  display: flex;
  align-items: center;
}
.logo img {
  width: 150px;
  margin-right: 10px;
}
ul a:hover{
  color: #FB5922;
}
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 50px;
  font-size: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

  
  #features {
    padding: 50px 0;
    text-align: center;
  }
  .usuario{
    margin-top: 0px;
    width: 200px;
    margin-bottom: 40px;
    border-radius: 15px;
  }
  .feature {
    display: inline-block;
    margin: 0 50px;
    max-width: 300px;
    color: #fff;
    background-color: #FB5922;
    padding: 40px;
    border-radius: 25px;
  }
  .feature img {
    width: 100%;
    max-width: 190px;
    height: 316.53;
    margin-top: 20px;

  }
h4{
  margin-top: 0;
  font-size: 20px;
}
  .conteiner1{
    margin-top: 50px;
    justify-content: space-between;
    display: flex;
    background-color: #FB5922aa;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 20px;
    padding: 20px;
}
.sw{
  margin-right: auto;
  width: 150px;
  padding: 60px;
  background-color: #FB5922;
  border-radius: 20px;
}
.software{
  text-align: left;
}

footer{
  color: white;
  text-align: center;
}